<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest03_small_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{1258,1065},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,161}</string>
                <key>spriteSourceSize</key>
                <string>{199,161}</string>
                <key>textureRect</key>
                <string>{{770,1031},{199,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,155}</string>
                <key>spriteSourceSize</key>
                <string>{193,155}</string>
                <key>textureRect</key>
                <string>{{930,813},{193,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{193,159}</string>
                <key>spriteSourceSize</key>
                <string>{193,161}</string>
                <key>textureRect</key>
                <string>{{930,653},{193,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{152,15}</string>
                <key>spriteSourceSize</key>
                <string>{152,27}</string>
                <key>textureRect</key>
                <string>{{1,1347},{152,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{326,69}</string>
                <key>spriteSourceSize</key>
                <string>{326,125}</string>
                <key>textureRect</key>
                <string>{{1300,1},{326,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{193,82}</string>
                <key>spriteSourceSize</key>
                <string>{193,152}</string>
                <key>textureRect</key>
                <string>{{1284,477},{193,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{162,97}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{949,1223},{162,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{148,77}</string>
                <key>spriteSourceSize</key>
                <string>{148,141}</string>
                <key>textureRect</key>
                <string>{{1292,328},{148,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1049,1},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,194}</string>
                <key>spriteSourceSize</key>
                <string>{242,194}</string>
                <key>textureRect</key>
                <string>{{284,1031},{242,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{242,198}</string>
                <key>spriteSourceSize</key>
                <string>{242,202}</string>
                <key>textureRect</key>
                <string>{{1049,202},{242,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{190,32}</string>
                <key>spriteSourceSize</key>
                <string>{190,50}</string>
                <key>textureRect</key>
                <string>{{278,1331},{190,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{408,86}</string>
                <key>spriteSourceSize</key>
                <string>{408,158}</string>
                <key>textureRect</key>
                <string>{{962,1},{408,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{242,104}</string>
                <key>spriteSourceSize</key>
                <string>{242,192}</string>
                <key>textureRect</key>
                <string>{{278,1226},{242,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,122}</string>
                <key>spriteSourceSize</key>
                <string>{202,204}</string>
                <key>textureRect</key>
                <string>{{1161,401},{202,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{764,1231},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,194}</string>
                <key>spriteSourceSize</key>
                <string>{242,194}</string>
                <key>textureRect</key>
                <string>{{527,1031},{242,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{242,198}</string>
                <key>spriteSourceSize</key>
                <string>{242,202}</string>
                <key>textureRect</key>
                <string>{{962,410},{242,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{190,32}</string>
                <key>spriteSourceSize</key>
                <string>{190,50}</string>
                <key>textureRect</key>
                <string>{{469,1331},{190,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{408,86}</string>
                <key>spriteSourceSize</key>
                <string>{408,158}</string>
                <key>textureRect</key>
                <string>{{962,1},{408,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{242,104}</string>
                <key>spriteSourceSize</key>
                <string>{242,192}</string>
                <key>textureRect</key>
                <string>{{521,1226},{242,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,122}</string>
                <key>spriteSourceSize</key>
                <string>{202,204}</string>
                <key>textureRect</key>
                <string>{{1161,604},{202,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{764,1231},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_glow_bg_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,-17}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{368,82}</string>
                <key>textureRect</key>
                <string>{{949,1321},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,36}</string>
                <key>spriteSourceSize</key>
                <string>{240,36}</string>
                <key>textureRect</key>
                <string>{{1124,653},{240,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getOrbsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{92,82}</string>
                <key>textureRect</key>
                <string>{{1258,986},{92,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_videoRewardBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,146}</string>
                <key>spriteSourceSize</key>
                <string>{190,146}</string>
                <key>textureRect</key>
                <string>{{932,969},{190,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plushies_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{188,106}</string>
                <key>spriteSourceSize</key>
                <string>{196,108}</string>
                <key>textureRect</key>
                <string>{{932,1116},{188,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1054,1321},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1258,1118},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1351,671},{36,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{30,6}</string>
                <key>spriteSourceSize</key>
                <string>{30,14}</string>
                <key>textureRect</key>
                <string>{{1,1363},{30,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{1049,401},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{1321,1065},{42,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,66}</string>
                <key>spriteSourceSize</key>
                <string>{134,66}</string>
                <key>textureRect</key>
                <string>{{1284,671},{134,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{1123,1081},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{1121,1132},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{1123,971},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1112,1285},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{154,1347},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{930,642},{14,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,74}</string>
                <key>spriteSourceSize</key>
                <string>{106,74}</string>
                <key>textureRect</key>
                <string>{{1259,911},{106,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1256,1147},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1256,1184},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1351,708},{36,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{30,6}</string>
                <key>spriteSourceSize</key>
                <string>{30,14}</string>
                <key>textureRect</key>
                <string>{{1,1363},{30,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,8}</string>
                <key>textureRect</key>
                <string>{{1049,401},{32,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{703,1331},{42,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,66}</string>
                <key>spriteSourceSize</key>
                <string>{134,66}</string>
                <key>textureRect</key>
                <string>{{1124,904},{134,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{1121,1183},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{1112,1234},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{1123,1026},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1197,1285},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1351,986},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{930,642},{14,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,72}</string>
                <key>spriteSourceSize</key>
                <string>{104,72}</string>
                <key>textureRect</key>
                <string>{{1296,806},{104,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-49}</string>
                <key>spriteSize</key>
                <string>{96,134}</string>
                <key>spriteSourceSize</key>
                <string>{100,232}</string>
                <key>textureRect</key>
                <string>{{1161,807},{96,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{660,1331},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{282,174}</string>
                <key>spriteSourceSize</key>
                <string>{282,176}</string>
                <key>textureRect</key>
                <string>{{1,1031},{282,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{276,140}</string>
                <key>spriteSourceSize</key>
                <string>{280,174}</string>
                <key>textureRect</key>
                <string>{{1,1206},{276,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storeDesk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{928,388}</string>
                <key>spriteSourceSize</key>
                <string>{928,388}</string>
                <key>textureRect</key>
                <string>{{1,642},{928,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet-hd.png</string>
            <key>size</key>
            <string>{1370,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5979edd1775860b47d1f24fb9ee6d659:89759f9b81411148349497a85990f7a3:9d79d13bf30d2772be0a843fed795bc0$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet-hd.png</string>
        </dict>
    </dict>
</plist>
